# Set to True to use Vertex AI
GOOGLE_GENAI_USE_VERTEXAI=True

# GOOGLE_API_KEY=

GOOGLE_CLOUD_PROJECT=

GOOGLE_CLOUD_LOCATION=

# Full contents of the service account JSON key file.
SERVICE_ACCOUNT_JSON=

GEMINI_MODEL=

AIVARA_AGENT_API_KEY=
AIVARA_AGENT_URL=

PO_FHIR_EXTENSION_URI=

LOG_LEVEL=INFO
LOG_HOOK_RAW_OBJECTS=false